extends layout

block content
  h1= title
  h3 Welcome to our Nba Site
  img.imm(src='/images/NBA-logo.png')
  br
  a(class='button' href='/teams.pug') Teams
  br
  a(class='button' href='/players.pug') Players